<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.guide.mapper.ScheduleRuleMapper">
    
    <resultMap type="ScheduleRule" id="ScheduleRuleResult">
        <result property="ruleId"    column="rule_id"    />
        <result property="ruleName"    column="rule_name"    />
        <result property="ruleType"    column="rule_type"    />
        <result property="ruleValue"    column="rule_value"    />
        <result property="priority"    column="priority"    />
        <result property="status"    column="status"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
        <result property="delFlag"    column="del_flag"    />
    </resultMap>

    <sql id="selectScheduleRuleVo">
        select rule_id, rule_name, rule_type, rule_value, priority, status, create_by, create_time, update_by, update_time, remark, del_flag from schedule_rule
    </sql>

    <select id="selectScheduleRuleList" parameterType="ScheduleRule" resultMap="ScheduleRuleResult">
        <include refid="selectScheduleRuleVo"/>
        <where>  
            <if test="ruleName != null  and ruleName != ''"> and rule_name like concat('%', #{ruleName}, '%')</if>
            <if test="ruleType != null  and ruleType != ''"> and rule_type = #{ruleType}</if>
            <if test="ruleValue != null  and ruleValue != ''"> and rule_value = #{ruleValue}</if>
            <if test="priority != null "> and priority = #{priority}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectScheduleRuleByRuleId" parameterType="Long" resultMap="ScheduleRuleResult">
        <include refid="selectScheduleRuleVo"/>
        where rule_id = #{ruleId}
    </select>

    <insert id="insertScheduleRule" parameterType="ScheduleRule" useGeneratedKeys="true" keyProperty="ruleId">
        insert into schedule_rule
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="ruleName != null and ruleName != ''">rule_name,</if>
            <if test="ruleType != null">rule_type,</if>
            <if test="ruleValue != null">rule_value,</if>
            <if test="priority != null">priority,</if>
            <if test="status != null">status,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
            <if test="delFlag != null">del_flag,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="ruleName != null and ruleName != ''">#{ruleName},</if>
            <if test="ruleType != null">#{ruleType},</if>
            <if test="ruleValue != null">#{ruleValue},</if>
            <if test="priority != null">#{priority},</if>
            <if test="status != null">#{status},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="delFlag != null">#{delFlag},</if>
         </trim>
    </insert>

    <update id="updateScheduleRule" parameterType="ScheduleRule">
        update schedule_rule
        <trim prefix="SET" suffixOverrides=",">
            <if test="ruleName != null and ruleName != ''">rule_name = #{ruleName},</if>
            <if test="ruleType != null">rule_type = #{ruleType},</if>
            <if test="ruleValue != null">rule_value = #{ruleValue},</if>
            <if test="priority != null">priority = #{priority},</if>
            <if test="status != null">status = #{status},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
        </trim>
        where rule_id = #{ruleId}
    </update>

    <delete id="deleteScheduleRuleByRuleId" parameterType="Long">
        delete from schedule_rule where rule_id = #{ruleId}
    </delete>

    <delete id="deleteScheduleRuleByRuleIds" parameterType="String">
        delete from schedule_rule where rule_id in 
        <foreach item="ruleId" collection="array" open="(" separator="," close=")">
            #{ruleId}
        </foreach>
    </delete>
</mapper>